body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.section1 {
  width: 1919px;
  height: 1001px;
  background-color: black;
  margin-bottom: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #ffffff;
  font-size: 40px;
  margin: 44px 0 0 53px;
  text-transform: uppercase;
  text-decoration: none;
}

.navlinks {
  display: flex;
  margin: 32px 0 0 0;
  align-items: center;
}

.navlinks li {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2.19px;
  list-style: none;
  margin: 0 58px 0 0;
}

.navlinks li a {
  text-decoration: none;
  color: #ffffff;
}

.username a {
  display: inline-flex;
  align-items: center;
  border: solid 1px #ffffff;
  padding: 9.7px 11px 9.7px 11px;
  margin: 0 77px 0 220px;
}

.user-image {
  border-radius: 41px;
}

.icon {
  margin-left: 16px;
}

.banner {
  margin: 97px 0 0 87px;
  display: flex;
}

.image {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000 100%),
    url(/imgs/background.png);
  width: 1229px;
  height: 742px;
  background-size: cover;
  position: relative;
}

.view {
  float: right;
  width: 188px;
  height: 61px;
  font-size: 23px;
  font-weight: 600;
  margin: 28px 54px 0px 0px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.35);
}

.banner h1 {
  margin: 0;
  position: absolute;
  font-size: 68px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.82;
  letter-spacing: normal;
  color: #ffffff;
  bottom: 81px;
  left: 38px;
}

.banner h2 {
  margin: 0;
  position: absolute;
  opacity: 50%;
  font-size: 27px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: #ffffff;
  left: 436px;
  bottom: 76px;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.list {
  padding: 0px 0px 0px 0px;
  display: flex;
  margin: 45px 0 0 0;
  align-items: center;
  justify-content: center;
}

.list li {
  padding: 0px;
  font-size: 30px;
  text-transform: capitalize;
  letter-spacing: 2.19px;
  list-style: none;
  margin: 0 20px 0 0;
}

.list .text-img {
  margin: 0 10px 0 0;
}

.list li a {
  text-decoration: none;
  color: #ffffff;
}

.calculator {
  width: 421px;
  height: 746px;
  background-color: #171717;
  margin: 0px 0px 0px 94px;
}

.calculator h3 {
  margin: 59px 0px 0px 91px;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.calculator .inv {
  margin: 74px 24px 0 31px;
  display: flex;
  flex-direction: column;
}

.calculator .inv div {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 0 0 48px 0;
}

.calculator p {
  opacity: 0.4;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.68px;
  color: #ffffff;
  text-transform: uppercase;
}

.calculator .amt {
  background-color: #171717;
  border: solid 2px #2f2f2f;
  color: #ffffff;
  height: 37px;
  font-size: 16px;
}

.calculator input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

.triangle {
  margin: 70px 0 0 180px;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 21px solid #b61b1c;
}

.extraordinary {
  height: 27.3%;
  width: 100%;
  background-color: #b61b1c;
}

.form {
  border: solid 2px #2f2f2f;
  background-color: #171717;
  margin: 18px 30px 0px 74px;
  outline: none;
  font-size: 16px;
  width: 121px;
  height: 37px;
  padding: 0px;
}

.aboutproperty {
  display: flex;
  width: 1920px;
  height: 2869px;
  background-color: #ffffff;
}

.uno {
  margin: 0%;
  padding: 0%;
  width: 400px;
}

.uno li {
  font-size: 24px;
  font-weight: 600;
  list-style: none;
  margin: 51px 0px 0px 128px;
  opacity: 0.33;
}

.uno li a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}

.uno .over {
  margin-top: 135px;
}

.uno .about {
  margin: 0px;
  display: flex;
  flex-direction: row;
  opacity: 1;
  font-size: 31px;
}

.uno .about div {
  margin: 70px 0 0 79px;
  width: 32px;
  height: 1px;
  border: solid 4px #c91718;
  background-color: #c91718;
}

.uno .about p {
  margin: 50px 0 0 17px;
}

.des {
  width: 1354px;
  font-size: 28px;
  color: #1f1f1f;
  margin: 105px 166px 0px 0px;
}

.des span {
  font-weight: bold;
}

.dev {
  width: 509px;
}

.amendes {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.amen .amp {
  font-size: 45px;
  font-weight: bold;
  margin-top: 79px;
  color: #383838;
}

.park {
  width: 280px;
  height: 262px;
  border: solid 2px #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 36px 53px 0 0;
}

.park .atr {
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  margin: 32px 19px 0 9px;

}

.park .atr2 {
  width: 96px;
  height: 74px;
}

.park .cent {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}

.front4 {
  width: 280px;
  height: 262px;
  border: solid 2px #000000;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 36px 53px 0 0;
  background-color: #000000;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.35);
  border-radius: 3px;
}

.front {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
}

.front2 {
  opacity: 0.6;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}